.row-spacing {
    margin: 3px;
  }
.popover-content {
  width: 220px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.vc-day-content {
  width: 28px !important;
  height: 28px !important;
}
.trainings-holder {
  width: 500px;
  height: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  user-select: none;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.single-training-holder {
  padding: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: transform 0.3s, border-color 0.3s;
  background-color: white;
}
.single-training-holder:hover {
  border-color: #4CAF50;
  transform: scale(1.01); /* Увеличение элемента */
}
.trainings-header {
  padding: 10px;
  margin: 10px;
  background-color: #61d8a3a1;
  border-radius: 15px;
  user-select: none;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.add-exercise-header {
  padding: 10px;
  margin: 10px;
  background-color: #61d8a3a1;
  border-radius: 15px;
  user-select: none;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.training-time-header {
  padding: 10px;
  margin: 3px;
  background-color:#61d8a3a1;
  border-radius: 15px;
}
.exercise-holder {
  padding: 10px;
  margin: 3px;
  background-color:#61d8a3a1;
  border-radius: 15px;
}
.exercsise-info {
  padding: 10px;
  margin: 3px;
  background-color: white;
  border-radius: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.custom-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #60d7a2a1;
}
.header-button-container {
  display: inline-flex;
  align-items: center;
}
.edit-button{
  margin-left: 10px;
  user-select: none;
  background-color: rgb(220, 255, 221);
}
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.align-to-center{
  display: flex;
  align-items: center;
}
.training-holder{
  width: 500px;
  height: 700px;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.scrolable-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.title{
  width: 100px;
  padding: 10px;
  margin-right: 10px !important;
}
.box {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3), inset 0 2px 6px rgba(255, 255, 255, 0.2);
}

.round-box {
  padding: 10px;
  border:2px solid #4CAF50;
  border-radius: 60px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 280px;
}

.outline-scale:active{
  outline: none;
  transform: scale(0.95);
}
.justify-center {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.custom-width {
  width: 70px;
}
.selected-options{
  align-items: center;
  justify-content: center;
  width: 270px;
}
.custom-button-width{
  width: 270px;
}
.add-button-container{
  display: flex;
  justify-content: flex-end;
}
.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}
.circle-button:hover{
  transform: scale(1.05);
}

.circle-button img {
  height: 50px;
  object-fit: cover;
}
.edit-workout-exercise-button{
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  margin-left: 1%;
}
.edit-workout-exercise-button img{
  height: 20px;
  object-fit: contain;
}
.edit-workout-exercise-button:hover{
  background-color: rgb(217, 217, 217);
  transform: scale(1.05);

}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 500px;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  user-select: none;
  position: relative;
  max-height: 760px;
  min-height: 760px;
  height: 100%;
  overflow: auto;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}
.modal-close:hover {
  color: gray;
}
.title-choose-exercise{
  margin-right: 5px;
}
.add-sets-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.rep-adder-holder{
  margin-top: auto;
}
.custom-hight{
  height: 100%;
  max-height: 600px;
}
.sets-container{
  max-height: 280px;
  min-height: 280px;
  margin-bottom: 5px;
}
.sets-holder{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.edit-workout-button{
  margin-left: 10px;
}
.edit-workout-button img{
  height: 20px;
  object-fit: contain;
}
.edit-workout-button:hover{
  background-color: rgb(217, 217, 217);
  transform: scale(1.05);

}